# Trying out diferent moving averages
- Commonly used moving averages are simple moving average (SMA) and exponential moving averages(EMA)

In [12]:
import pandas as pd
import yfinance as yf

## Pick stock for testing
- [RENE.LS](https://finance.yahoo.com/quote/RENE.LS?p=RENE.LS)

In [11]:
rene = yf.Ticker("RENE.LS")
rene_info = rene.info
print("longName:", rene_info.get("longName"))
print("sector:  ", rene_info.get("sector"))
print("symbol:  ", rene_info.get("symbol"))
print("exchange:", rene_info.get("exchange"))

longName: REN - Redes Energéticas Nacionais, SGPS, S.A.
sector:   Utilities
symbol:   RENE.LS
exchange: LIS

### Dowload prices

In [15]:
rene_hist = rene.history(period="5y")
rene_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-10-01 00:00:00+01:00,1.768100,1.768100,1.749275,1.749275,339584,0.0,0.0
2018-10-02 00:00:00+01:00,1.752171,1.756515,1.729002,1.729002,1287618,0.0,0.0
2018-10-03 00:00:00+01:00,1.743482,1.744931,1.731898,1.731898,511745,0.0,0.0
2018-10-04 00:00:00+01:00,1.730450,1.733346,1.723209,1.729002,584299,0.0,0.0
2018-10-05 00:00:00+01:00,1.733346,1.733346,1.723210,1.726106,228660,0.0,0.0
...,...,...,...,...,...,...,...
2023-09-25 00:00:00+01:00,2.480000,2.490000,2.455000,2.465000,478274,0.0,0.0
2023-09-26 00:00:00+01:00,2.460000,2.480000,2.460000,2.470000,401940,0.0,0.0
2023-09-27 00:00:00+01:00,2.480000,2.480000,2.440000,2.440000,644921,0.0,0.0
2023-09-28 00:00:00+01:00,2.440000,2.455000,2.425000,2.425000,780016,0.0,0.0
2023-09-29 00:00:00+01:00,2.435000,2.450000,2.420000,2.420000,1495159,0.0,0.0

## Test ZMA moving average
Based on [this](https://medium.com/@zimin.lu/zma-a-new-moving-average-ff826601dd9e) medium post

In ZMA, we first calculate a cumsum() of the n data, z1=y1, z2=y1+y2, z3=y1+y2+y3,…zn=y1+y2+…yn. Then we do linear regression of the cumsum series z against x=1,2,…n, z~ ax +b.

ZMA(y)= a = correl(x,z)*sigma(z)/sigma(x)

where correl(x,z) is the correlation between the series of x and z in the time window n and sigma are the standard deviations.

ZMA is smoother than SMA due to the integration (cumsum) and then differentiation (slope), which is important for point of change detections. 

In other words, it generates fewer false signals in technical analysis for trading.

# TODO: find a way to test for false positives

def zma(y):
    z= y.cumsum()
    x = np.arange(len(y))
    return np.corrcoef(x, z)[0,1]*np.std(z)/np.std(x)